<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>box_bone.png</key>
		<dict>
			<key>id</key>
			<integer>8001</integer>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box00_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8002</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box00_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8003</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box00_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8004</integer>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box00_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8005</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box01_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8006</integer>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box01_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8007</integer>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box01_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8008</integer>
			<key>x</key>
			<integer>309</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box01_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8009</integer>
			<key>x</key>
			<integer>374</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box02_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8010</integer>
			<key>x</key>
			<integer>439</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box02_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8011</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box02_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8012</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box02_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8013</integer>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box03_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8014</integer>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box03_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8015</integer>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box03_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8016</integer>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box03_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8017</integer>
			<key>x</key>
			<integer>311</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box04_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8018</integer>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box04_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8019</integer>
			<key>x</key>
			<integer>441</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box04_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8020</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box04_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8021</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box05_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8022</integer>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box05_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8023</integer>
			<key>x</key>
			<integer>196</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box05_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8024</integer>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box05_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8025</integer>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box06_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8026</integer>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box06_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8027</integer>
			<key>x</key>
			<integer>417</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box06_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8028</integer>
			<key>x</key>
			<integer>441</integer>
			<key>y</key>
			<integer>152</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box06_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8029</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box07_burn.png</key>
		<dict>
			<key>id</key>
			<integer>8030</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box07_feather.png</key>
		<dict>
			<key>id</key>
			<integer>8031</integer>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>box07_normal_00.png</key>
		<dict>
			<key>id</key>
			<integer>8032</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>box07_normal_01.png</key>
		<dict>
			<key>id</key>
			<integer>8033</integer>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
	</dict>
</dict>
</plist>