<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>main_bg_a.png</key>
		<dict>
			<key>id</key>
			<integer>1000</integer>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>163</integer>
		</dict>
		<key>main_bg_b.png</key>
		<dict>
			<key>id</key>
			<integer>1001</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>618</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>284</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>284</integer>
		</dict>
		<key>main_bg_c.png</key>
		<dict>
			<key>id</key>
			<integer>1002</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>617</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>617</integer>
		</dict>
		<key>main_trees_a.png</key>
		<dict>
			<key>id</key>
			<integer>1003</integer>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>207</integer>
			<key>height</key>
			<integer>426</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>207</integer>
			<key>originalHeight</key>
			<integer>426</integer>
		</dict>
		<key>main_trees_b.png</key>
		<dict>
			<key>id</key>
			<integer>1004</integer>
			<key>x</key>
			<integer>689</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>270</integer>
			<key>height</key>
			<integer>230</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>270</integer>
			<key>originalHeight</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>metadata</key>
	  <dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>main_bg.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>main_bg.png</string>
	  </dict>
</dict>
</plist>