<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>main_bg_light.png</key>
		<dict>
			<key>id</key>
			<integer>1005</integer>
			<key>x</key>
			<integer>987</integer>
			<key>y</key>
			<integer>382</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>459</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>459</integer>
		</dict>
		<key>main_cha_blue.png</key>
		<dict>
			<key>id</key>
			<integer>1006</integer>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>737</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>87</integer>
		</dict>
		<key>main_cha_green.png</key>
		<dict>
			<key>id</key>
			<integer>1007</integer>
			<key>x</key>
			<integer>827</integer>
			<key>y</key>
			<integer>792</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>main_cha_orange.png</key>
		<dict>
			<key>id</key>
			<integer>1008</integer>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>824</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>main_cha_pink.png</key>
		<dict>
			<key>id</key>
			<integer>1009</integer>
			<key>x</key>
			<integer>827</integer>
			<key>y</key>
			<integer>737</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>57</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>main_cha_purple.png</key>
		<dict>
			<key>id</key>
			<integer>1010</integer>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>899</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>originalHeight</key>
			<integer>87</integer>
		</dict>
		<key>main_cha_red.png</key>
		<dict>
			<key>id</key>
			<integer>1011</integer>
			<key>x</key>
			<integer>627</integer>
			<key>y</key>
			<integer>922</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>81</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>main_cha_white.png</key>
		<dict>
			<key>id</key>
			<integer>1012</integer>
			<key>x</key>
			<integer>627</integer>
			<key>y</key>
			<integer>834</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>originalHeight</key>
			<integer>87</integer>
		</dict>
		<key>main_cha_yellow.png</key>
		<dict>
			<key>id</key>
			<integer>1013</integer>
			<key>x</key>
			<integer>627</integer>
			<key>y</key>
			<integer>737</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
		</dict>
		<key>main_coming soon.png</key>
		<dict>
			<key>id</key>
			<integer>1014</integer>
			<key>x</key>
			<integer>627</integer>
			<key>y</key>
			<integer>421</integer>
			<key>width</key>
			<integer>359</integer>
			<key>height</key>
			<integer>315</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>originalHeight</key>
			<integer>316</integer>
		</dict>
		<key>main_menu_bg.png</key>
		<dict>
			<key>id</key>
			<integer>1015</integer>		
			<key>x</key>
			<integer>627</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>312</integer>
			<key>height</key>
			<integer>419</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>420</integer>
		</dict>
		<key>main_menu_classic_push.png</key>
		<dict>
			<key>id</key>
			<integer>1017</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>814</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_menu_classic.png</key>
		<dict>
			<key>id</key>
			<integer>1016</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>914</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_menu_coming_push.png</key>
		<dict>
			<key>id</key>
			<integer>1037</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>623</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_menu_coming.png</key>
		<dict>
			<key>id</key>
			<integer>1036</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>720</integer>
			<key>width</key>
			<integer>220</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_menu_icebreak_push.png</key>
		<dict>
			<key>id</key>
			<integer>1019</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>443</integer>
			<key>width</key>
			<integer>222</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_menu_icebreak.png</key>
		<dict>
			<key>id</key>
			<integer>1018</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>537</integer>
			<key>width</key>
			<integer>217</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_menu_new.png</key>
		<dict>
			<key>id</key>
			<integer>1035</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>403</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>main_menu_pandora_push.png</key>
		<dict>
			<key>id</key>
			<integer>1021</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>217</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_menu_pandora.png</key>
		<dict>
			<key>id</key>
			<integer>1020</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>316</integer>
			<key>width</key>
			<integer>220</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>main_option_push.png</key>
		<dict>
			<key>id</key>
			<integer>1032</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>114</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>main_option.png</key>
		<dict>
			<key>id</key>
			<integer>1031</integer>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>114</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>main_rank_push.png</key>
		<dict>
			<key>id</key>
			<integer>1030</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>792</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>111</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>main_rank.png</key>
		<dict>
			<key>id</key>
			<integer>1029</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>904</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>111</integer>
			<key>originalHeight</key>
			<integer>111</integer>
		</dict>
		<key>main_title.png</key>
		<dict>
			<key>id</key>
			<integer>1033</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>659</integer>
			<key>width</key>
			<integer>390</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>390</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>tutorial_tap.png</key>
		<dict>
			<key>id</key>
			<integer>1034</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>574</integer>
			<key>width</key>
			<integer>308</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>308</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>main_menu_cancel_normal.png</key>
		<dict>
			<key>id</key>
			<integer>1027</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>main_menu_cancel_push.png</key>
		<dict>
			<key>id</key>
			<integer>1028</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>main_menu_continue_dim.png</key>
		<dict>
			<key>id</key>
			<integer>1024</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>main_menu_continue_normal.png</key>
		<dict>
			<key>id</key>
			<integer>1022</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>246</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>main_menu_continue_push.png</key>
		<dict>
			<key>id</key>
			<integer>1023</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>328</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>main_menu_newgame_normal.png</key>
		<dict>
			<key>id</key>
			<integer>1025</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>410</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>main_menu_newgame_push.png</key>
		<dict>
			<key>id</key>
			<integer>1026</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>492</integer>
			<key>width</key>
			<integer>253</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
	</dict>
		<key>metadata</key>
	  <dict>
		<key>format</key>
		<integer>0</integer>
		<key>realTextureFileName</key>
		<string>mainmenu.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>mainmenu.png</string>
	  </dict>
</dict>
</plist>